@layout.main("List Category", "List Category", scripts) {
    <div id="messages-div">
        @if(flash.containsKey("success")) {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @flash.get("success")
            </div>
        }
        @if(flash.containsKey("error")) {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @flash.get("error")
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12" style=" margin-bottom: 30px;">
            <a class="btn btn-info btn-sm pull-right" href="@controllers.admin.routes.CategoryController.add()">
                <i class="fa fa-plus"></i> Tambah
            </a>
        </div>
    </div>
    <div class="box-body data-tables table-responsive table-invest">
        <table id="category" class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nama Category</th>
                    <th>Action</th>
                </tr>
            </thead>
@*            <tbody>*@
@*                @for(dt <- data){*@
@*                    <tr>*@
@*                        <td>@dt.id</td>*@
@*                        <td>@dt.name</td>*@
@*                        <td>Test</td>*@
@*                    </tr>*@
@*                }*@

@*            </tbody>*@
        </table>
    </div>
    @views.html.helper.modal_delete()
}
@scripts = {
    <script type="text/javascript">
            $(document).ready(function () {
                var tableCategory = $('#category').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": "@controllers.admin.routes.CategoryController.listCategoryProduct()"
                });
                $('#submit-delete').on('click', function () {
                    var id = $("#id").val();
                    $.ajax({
                        url: "/admin/category/" + id + "/delete",
                        type: 'DELETE',
                        beforeSend: function () {
                            $('#modal-delete').modal('hide');
                        },
                        success: function (resp) {
                            alert(resp);
                            tableCategory.ajax.reload();
                        },
                        complete: function (xhr) {
                        }
                    });
                });
            });

            function deleteDataCategory(id) {
                $('#modal-delete').modal('show');
                $("#id").val(id);
            }

    </script>
}