@(title: String, action: String, url:play.api.mvc.Call, form:Form[Customer])
@layout.main(action + " Customer", action + " Customer"){
    <div class="panel-body">
        <form action="@url" method="post" class="form-horizontal" id="form-customer" enctype="multipart/form-data">
            <div class="form-group">
                <input type="hidden" name="@form("id").name()" id="id" value="@form("id").value()">
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2" for="name">Nama Customer</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" name="name" id="name" value="@form("name").value()">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2" for="name">Alamat</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" name="address" id="address" value="@form("address").value()">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-4">
                    <a href="@controllers.admin.routes.CategoryController.index()" class="btn btn-warning" id="btn-back">
                        Kembali
                    </a>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </div>
            </div>

        </form>


    </div>
}