@layout.main("List Users", "List Users", scripts) {
    <div id="messages-div">
        @if(flash.containsKey("success")) {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @flash.get("success")
            </div>
        }
        @if(flash.containsKey("error")) {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @flash.get("error")
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12" style=" margin-bottom: 30px;">
            <a class="btn btn-info btn-sm pull-right" href="@controllers.admin.routes.UserController.add()">
                <i class="fa fa-plus"></i> Tambah
            </a>
        </div>
    </div>
    <div class="box-body data-tables table-responsive table-invest">
        <table id="user" class="table table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
    @views.html.helper.modal_delete()
}
@scripts = {
    <script type="text/javascript">
            $(document).ready(function () {
                var tableUser = $('#user').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": "@controllers.admin.routes.UserController.listUser()"
                });
                $('#submit-delete').on('click', function () {
                    var id = $("#user_id").val();
                    $.ajax({
                        url: "/admin/users/" + id + "/delete",
                        type: 'DELETE',
                        beforeSend: function () {
                            $('#modal-delete').modal('hide');
                        },
                        success: function (resp) {
                            alert(resp);
                            tableUser.ajax.reload();
                        },
                        complete: function (xhr) {
                        }
                    });
                });
            });

            function deleteDataUser(id) {
                $('#modal-delete').modal('show');
                $("#user_id").val(id);
            }

    </script>
};